.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: #f32b4f !important;
}
.bg-fun{
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(../../assets/fun.webp);
    background-size: cover;
    background-position: center center;
}
.btn-circle{
    width: 80px;
    height: 80;
    border-radius: 50%  ;
}